.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 50px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#055ff0,#e21a08);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
}

.user-icon{
    width: 40px;
    height: 40px;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y:scroll;
}

.result::-webkit-scrollbar{
    display: none;
}


.result-title {
    margin: 1rem 0;
}

.user-and-prompt {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust spacing between the icon and text */
}


.user-prompt {
    font-size: 1rem;
    color: #333; /* Customize the font color */
    margin: 0; /* Remove default margin */
    word-wrap: break-word; /* Handle long prompts gracefully */
}

.gemini{
    width: 40px;
    height: 40px;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.loader hr {
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 750px;  /* Set the width to make the animation appear longer */
    background: -webkit-linear-gradient(16deg,#055ff0, #e21a08, #055ff0);
    background-size: 200% 100%; /* Increase the background size to create movement */
    animation: loadingAnimation 5s infinite ease-in; /* Slower movement for better effect */
}

/* Create the effect of the gradient moving from left to right */
@keyframes loadingAnimation {
    0% {
        background-position: -200% 0;  /* Start off-screen */
    }
    50% {
        background-position: 200% 0;  /* Move the gradient to the far right */
    }
    100% {
        background-position: -200% 0;  /* End off-screen, creating the loop */
    }
}

.res{
    text-align: justify;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.0;
}